/* ====================MIDDLE DEVICE======================= */
@media screen and (max-width: 1279px){
  .container {
    width: 96%;
  }

  main .container {
    grid-template-columns: 5rem auto 30vw;
  }

  main .container .left {
    z-index: 10;
  }

  main .container .left .profile {
    display: none;
  }

  .sidebar h3 {
    display: none;
  }

  .left .sidebar {
    margin-top: 0;
  }

  .left .btn {
    display: none;
  }
}


/* ====================SMALL DEVICE================= */

@media screen and (max-width: 998px){
  nav .search-bar{
    display: none;
  }

  main .container {
    grid-template-columns: 1fr;
  }

  nav {
    position: sticky;
    top: -5rem;
  }

  main .container .left {
    top: 0;
  }
  main .container .left .sidebar {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .left .sidebar {
    margin-left: 0;
  }
  main .container .right {
    display: none;
  }
}



@media screen and (max-width: 414px){
  .container {
    width: 96%;
  }
}
